:root .theme_light {
  --accent-color: #ff0070;
  --title-text-color: #ffc2e6;
  --text-background-color: #ff8dcb;
  --text-color: #353430;
  --decoration-accent-color: #353430;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  .page.theme_auto .header__item-only-dark {
    display: none;
  }
}
